<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220308-055648-CodeSystem-zuppl-appc-anatomie-4-appc-anatomie.html">2022-03-08 05:56:48</a></td><td><a onclick="createDiff('CodeSystem-zuppl-appc-anatomie-4-appc-anatomie.html', '20220308-055648-CodeSystem-zuppl-appc-anatomie-4-appc-anatomie.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>