<table class="grid">
<tr><td><b>Version Number</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20231016-140307-ValueSet-noe-lga-noerad.html">1.0.0+20230314</a></td><td><a onclick="createDiff('ValueSet-noe-lga-noerad.html', '20231016-140307-ValueSet-noe-lga-noerad.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>